name: .NET Build and Test

env:
    SOURCE: Source
    TESTS: Source
    PACKAGE_SOURCE: ${{ format('https://nuget.pkg.github.com/{0}/index.json', github.ACTOR) }}

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build-and-test:   
    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v2
      with:
        fetch-depth: 0
    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: |
            5.x
            8.x
    - name: Restore dependencies
      run: dotnet restore $env:SOURCE
    - name: Build
      run: dotnet build $env:SOURCE --no-restore --configuration Release 
    - name: Test
      run: dotnet test $env:TESTS --no-build --configuration Release